.contact_page {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__container {
      position: relative;

      &__iphone {
        height: 600px;
        width: 100%;
        pointer-events: none;
      }
    }
  }

  &__mainContent {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__contactPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #8e8e93;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 90px;
    margin-top: 16px;

    &__img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      user-select: none;
      &::-webkit-user-select {
        display: none;
      }
    }

    p {
      color: gray;
      font-size: 56px;
    }
  }

  &__contactName {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-top: 12px;
  }

  &__actions {
    width: 100%;

    &__nodata {
      color: #007aff;
      text-align: center;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      list-style-type: none;
      padding: 0 !important;

      li {
        margin-left: 8px;

        a {
          cursor: pointer;
          text-decoration: none;
          border: 0;
        }
      }
    }

    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 80px;
      border: 1px solid #007aff;
      border-radius: 12px;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
      color: #007aff;
      padding: 8px;
    }
  }

  &__detailedInfo {
    padding: 0 16px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;

    ul {
      list-style-type: none;
      padding: 0 !important;

      li {
        border-bottom: 1px solid #000;
        margin-top: 15px;

        a {
          text-decoration: none;
          color: #007aff;
        }
      }
    }
  }
}

.info_p {
  color: #007aff;
  margin-top: 4px;
}
