.contactListItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8e8e93;
  cursor: pointer;
  height: 40px;
  margin: 0 15px;
  &__photo {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    margin-right: 10px;
  }
  &__contact {
    a {
      text-decoration: none;
      color: black;
    }
  }
  &__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
