.deleteConfirm {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);

  &__modal {
    width: 240px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 240px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 16px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    padding: 16px 10px 10px;
  }

  &__message {
    text-align: center;
    margin-bottom: 14px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }

  &__deleteBtn {
    color: #ff0800;
    border-right: 1px solid #000;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  &__cancelBtn {
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
  }
}
