.contact_list_item {
  margin: 0 15px;
  cursor: pointer;
  padding-bottom: 3px;
  align-items: center;
  border-bottom: 1px solid #8e8e93;

  a {
    width: 100%;
    text-decoration: none;
    color: #301934;
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    margin-right: 10px;
  }

  &__img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
