.navbar {
  // position: absolute;
  top: 30px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__icons {
    margin-right: 30px;
    &:nth-child(1) {
      padding-right: 3px;
    }
  }

  &__currentTime {
    margin-left: 30px;
    font-weight: 300;
  }
}
