.editProfile {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 90vh;
  &__container {
    position: relative;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
  }

  &__pic {
    height: 650px;
    object-fit: cover;
  }
  &__heading {
    position: absolute;
    top: 30px;
    width: 100%;
  }
}
