.searchbar {
  display: flex;
  align-items: center;
  padding: 0 12px;
  border: 1px solid #000;
  border-radius: 20px;
  height: 30px;
  width: 75%;
  margin: 0 auto;

  &__icon {
    padding-right: 5px;
  }
  &__input {
    border: none;
    outline: none;
    background: transparent;
    &:focus {
      border: none;
      outline: none;
      background: transparent;
    }
  }
}
