.editProfileHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  &__done {
    color: #8e8e93;
  }

  &__heading {
    font-size: 18px;
  }
  a {
    display: flex;
    text-decoration: none;
  }
}
